@import "user-chrome.css";
@import "theme-material-blue.css";
@import "theme-material.css";

.tab-content {
    padding: 0 14px !important
}

.tabbrowser-tab {
    margin-inline-start: 0 !important;
}

#tabbrowser-tabs[overflow] .tabbrowser-tab[last-visible-unpinned-tab] {
    margin-inline-end: 6px !important;
}

#tabbrowser-tabs[overflow] .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 6px !important;
}

#tabs-newtab-button {
    margin-inline-start: 6px !important;
    margin-inline-end: 2px !important;
}

#tabs-newtab-button,
#new-tab-button {
    min-width: 24px !important;
    min-height: var(--tab-min-height) !important;
    max-width: 24px !important;
    max-height: var(--tab-min-height) !important;
    margin: 4px !important;
    margin-top: auto !important;
    padding: 6px !important;
}


#urlbar-container {
    --urlbar-container-height: 38px !important
}

#urlbar {
    --urlbar-height: 26px !important;
    --urlbar-toolbar-height: 38px !important
}

#tabs-newtab-button>:is(.toolbarbutton-icon, .toolbarbutton-badge-stack),
#new-tab-button>:is(.toolbarbutton-icon, .toolbarbutton-badge-stack),
#alltabs-button>:is(.toolbarbutton-icon, .toolbarbutton-badge-stack) {
    padding: 6px !important;
    margin: 4px !important;
    width: auto !important;
    height: auto !important;
    border-radius: 16px !important;
}

.top-site-button .title:not(.pinned) {
    opacity: .7 !important;
    margin: 6px !important;
}